!!!
%html
  %head
    %title=t('layout.application.title')
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true, 'i18n' => true, 'translations' => true
    = javascript_tag 'application' do
      I18n.defaultLocale = "#{I18n.default_locale}";
      I18n.locale = "#{I18n.locale}";
    = csrf_meta_tags
    =favicon_link_tag 'header/favicon.png'
  %body{"data-locale" => I18n.locale}
    %section#main_container
      =# render "layouts/header"
      .block.push
        #yield_container
          .container
            -if notice
              %p.alert.alert-success
                = notice

            - if alert
              %p.alert.alert-danger
                = alert

            = yield
      =# render "layouts/footer"





